<header>
    <script type="text/javascript">
        window.MathJax = {
          tex: {
            packages: {'[+]': ['ams']},  // Add ams package
            inlineMath: [['$', '$'], ['\\(', '\\)']],  // Enable $...$ and \( ... \)
            displayMath: [['$$', '$$'], ['\\[', '\\]']] // Enable $$...$$ and \[ ... \]
          },
          loader: {load: ['[tex]/ams']},  // Load ams extension
          svg: {
            fontCache: 'global'
          }
        };
      </script>
      <script type="text/javascript" async
        src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js"></script>
      
</header>